<div class="{{ include.className }}">
	<h2>Games & Software</h2>
	<ul>
		<li><a href="https://krgamestudios.com/stepwise">Stepwise: Gates of Yendor</a> (WIP)</li>
		<li><a href="https://toylang.com">Toylang</a> (v2, WIP)</li>
		<li><a href="https://www.drivethrucards.com/product/305213/Potion-School">Potion School</a></li>
		<li><a href="https://eggtrainer.com">Egg Trainer</a> (former owner)</li>
		<li><a href="https://candyraid.com">Candy Raid: The Factory</a></li>
		<li><a href="https://www.wargamevault.com/product/398072/Fiends-Foils--Fallen">Fiends, Foils & Fallen</a></li>
		<li><a href="https://bunnytrail.itch.io/waterlogged">Waterlogged</a></li>
		<li><a href="https://ratstail91.itch.io/keep-it-alive">Keep It Alive</a></li>
		<li><a href="https://ratstail91.itch.io/mementos">Mementos</a></li>
		<li><a href="https://github.com/krgamestudios/MERN-template">MERN-template</a></li>
		<li><a href="https://github.com/Ratstail91/sineQL">sineQL</a></li>
	</ul>
</div>