.spoiler {
    position: relative;
    display: inline-block;
}

.spoiler > .hint {
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 1px;
    font-size: .9rem;
    background: var(--cover);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease;
}

.spoiler:hover > .hint {
    opacity: 0;
    transform: translateY(-50%)rotateX(80deg);
    transition: opacity 1.0s ease, transform 0.5s ease;
}

/* accessability tweaks */
@media (prefers-reduced-motion) {
    .spoiler:hover > .hint {
        transform: unset;
    }
}

.spoiler {
    visibility: hidden;
    transition: visibility 1s;
}

.spoiler > *, .spoiler:hover {
    visibility: visible;
    transition: visibility 0.1s;
}

/*

<div class="spoiler" style="--cover: #66cc00">
    <span class="hint">Spoilers Within</span>
    Text body.
</div>

<p class="spoiler"  style="--cover: #66cc00">
    <span class="hint">Spoilers Within</span>
    Text body.
</p>

*/