<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include metadata-header.liquid %}

  <body class="layout-wrapper">
    <!-- This is the side panel, with various navigation links -->
    <header class="layout-sidebar">
      <h1 style="text-align: center;"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

      {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}

      <p style="text-align: center; font-style: italic;">{{ site.description | default: site.github.project_tagline }}</p>

      <!-- These hidden elements are duplicated in the footer on smaller screens-->
      {% include games.liquid className="mobile hide" %}
      {% include socials.liquid %}
      {% include supports.liquid className="mobile hide" %}
    </header>

    <!-- The body of the webpage -->
    <section class="layout-content">
      {{ content }}

      {% include games.liquid className="mobile show" %}
      {% include supports.liquid className="mobile show" %}

      <footer class="mobile hide">
        {% include metadata-footer.liquid %}
      </footer>
    </section>

    <!-- running total of time spent fighting the 'float' attribute to get the footer working correctly: 6 hours -->
    <footer class="mobile show">
        {% include metadata-footer.liquid %}
      </footer>
  </body>
</html>
